[submodule "GaitCore"]
	path = _GaitCore
	url = git@github.com:alextac98/AIM_GaitCore.git
[submodule "Vicon"]
	path = _Vicon
	url = git@github.com:alextac98/AIM_Vicon.git
[submodule "_GaitData"]
	path = _GaitData
	url = https://github.com/WPI-AIM/AIM_GaitData.git
